html{
	overflow: hidden;
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#background-image{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(cool-background1.png);
	background-position: center;
	background-size: cover;
}

#login-form-container{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}